/*This is code written by Frederik Alexander Hounsvad
The use of this code in a non commercial and non exam environment is permitted
*/
/* 
    Created on : Apr 24, 2019, 12:51:44 PM
    Author     : Sanitas Solutions
*/

.button, .button:focused{
    -fx-text-fill: white;
    -fx-background-color: #048BA8;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-size: 12pt;
}

.button:hover{
    -fx-text-fill: white;
    -fx-background-color: derive(#048BA8, -40%);
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-size: 12pt;
}

.context-menu {
    -fx-background-color: #2E4057;
    -fx-border-color: #2E4057;
    -fx-text-fill: #048BA8;
}


.menu-item .label {
    -fx-text-fill: #048BA8;
}

.menu-item:focused .label {
    -fx-text-fill: #048BA8;
}
.menu-item{
    -fx-border-color: #2E4057;
    -fx-border-width:0.50px;

}
.menu-item:focused {
    -fx-background-color: derive(#2E4057, -40%);
}



